.noPaddingAndMargin div.sapUiFormResGrid>div{
	padding: 0px !important;
	margin: 0px !important;
}

.input-in-table-cell {
	height: 1.5rem !important;
}

.input-in-table-cell input {
	height: 1.5rem !important;
}

.navigater-container {
    width: 100% !important;
    margin: auto !important;
    height: 90% !important;
}

.emptyIconTabFilter div.sapMITBContainerContent {
    /* the icon bar content style */
    height: 0px !important;
    margin: 0px;
}

.emptyIconTabFilter div.sapMITBContainerContent div.sapMITBContent {
    /* the icon bar content style */
    background-color: transparent;
}
.emptyIconTabFilter div.sapMITBHead {
    /* the icon tab style */
    margin: 0px;
}
.emptyIconTabFilter div.sapMITBHead div.sapMITBText {
    /* the icon tab style */
    margin: 0px;
}
.emptyIconTabFilter div.sapMITBHead div.sapMITBFilterDefault {
    /* the icon tab style */
    height: 2rem;
}

/*
.compactTableHeader th{
	padding: 0px;
	margin: 0px;
	height: 2rem !important;
}
.compactTableHeader .sapMLIBSelectM div{
	padding: 0px;
	margin: 0px;
	height: 1.5rem;
}

.compactTableHeader .sapMCb div{
	padding: 0px !important;
	margin: 0px !important;
	height: 0.7rem !important;
    width: 0.7rem !important;
    top: 0.3rem !important;
}

.compactTableHeader button{
	padding: 3px;
	margin: 0px;
	height: 1.5rem;
}
.compactTableHeader button div{
	padding: 0px;
	margin: 0px;
	height: 1.5rem !important;	
}
.compactTableHeader span{
	padding: 0px;
	margin: 0px;
	height: 1.5rem !important;
	overflow: visible;
	line-height: 1.375rem
}
*/

.tinyTDPadding td{
	padding-bottom: 0.2rem !important;
	padding-top: 0.2rem !important;
}

 